* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #D4D4D4;
    font-family: 'Open sans';
}

.wrap {
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
}

ul.tabs {
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li {
    width: 18%;
}

ul.tabs li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 20px 0px;
}

.active1 {
    background: #0984CC;
}

ul.tabs li a .tab.text {
    margin-left: 8px;
}

.secciones {
    width: 550px;
    background: hfff;
}

secciones.article {
    padding: 30px;
}

secciones.article p {
    text-align: justify;
}

ul.tabs li a .tabtext {
    display: none;
}

.secciones article {
    padding: 20px;
}